@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
:root {
    --dark-background: #113f67;
    --text-color: #e7eaf6;
    --middle-background: #38598b;
}

body {
    background: var(--dark-background);
}

* {
    color: var(--text-color);
    font-family: "Roboto", sans-serif;
}

select {
    background-color: var(--middle-background);
    border-radius: 2px;
}

.mce-content-body[data-mce-placeholder]:not(.mce-visualblocks)::before {
    color: var(--text-color); 
}
